  {% extends "base.html" %}
    {% block content %}
      <div class="text-center"></div>
    <form action="/" method="post" >
    {% csrf_token %}
    <div class="container mt-4 ">
        
        <div class="form-group row ">
        <label for="Doctor Name" class="form-label">Doctor Name</label>
        <div class="col-sm-4 ">
            
    {{form.Doctor_name}}
</div>
</div>
<div class="form-group row ">
    <label for="Doctor Name" class="form-label">Doctor Age</label>
    <div class="col-sm-4">
{{form.Doctor_age}}
</div>
</div>
<div class="form-group row ">
    <label for="Doctor Name" class="form-label">Gender</label>
    <div class="col-sm-4">
{{form.Gender}}
</div>
</div>

<div class="mt-4">
    <input type="submit" class="btn btn-primary" value="Submit"> 
    </div>
</div>
</form>
</div>
{% endblock %}